@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600;700;800;900&display=swap');

:root {
  font-family: Lexend, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: inherit;
}



body {
  min-width: 320px;
  min-height: 100vh;
  background-color: #0f0124;
  color: #fff;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

::placeholder {
  color: rgb(158, 148, 183) !important;
  opacity: 0.5; /* Firefox */
}

::-ms-input-placeholder { /* Edge 12 -18 */
  color: rgb(158, 148, 183) !important;
}

a {
  color: #5324ff;
}

li {
  border-bottom-color: #1b0657 !important; 
}

li:last-child {
  border-bottom: none;
}

code {
  font-family: Inconsolata, monospace;
}